:root {
    --optional-color: #0B0C10;
    --main-background-color: #1F2833;
    --main-light-color: #C5C6C7;
    --detail-color: #66FCF1;
    --darker-detail-color: #45A29E;
}

#root {
    min-height: 100vh;
}
body {
    margin: 0 auto;
    background-color: var(--main-background-color);
}
h1 {
    display: flex;
    justify-content: center;
    color: var(--detail-color);
}

p {
    color: var(--main-light-color);
}

.alt-p {
    color: var(--main-background-color);
}

.navbar {
    display: flex;
    list-style: none;
    gap: 1.5em;
    justify-content: right;
    margin: 1em 1em;
    border-bottom: 1px solid var(--darker-detail-color);
}

li {
    padding: 0.75em;
}

a {
    text-decoration: none;
    color: var(--detail-color);
    font-size: large;
    font-weight: bold;
}

a:hover {
    color: var(--darker-detail-color);
}

a.active {
    text-decoration: underline 3px;

}

.projects-content {
    display: grid;
    grid-template-rows: 25% 1fr;
    grid-template-areas: 
    "t" 
    "p";
}

.projects-text {
    grid-area: t;
    font-size: 28px;
    margin: auto;
}

.projects {
    grid-area: p;
    display: flex;
    flex-wrap: wrap;
    padding: 1.25em;
    gap: 2em;
}


.project-card {
    background-color: var(--main-light-color);
    border-radius: 2%;
    padding: 1em;
    width: 25%;
    transition: all .2s ease-in-out; 
}

.project-card:hover {
    transform: scale(1.1); 
}

.preview-image {
    width: 100%;
    border-radius: 9px;
    margin-bottom: 9px;
}


.about-me-p {
    font-size: 25px;
    display: flex;
    margin: auto;
    width: 50%;
}

.footer-div {
    padding: 0.5em 1em;
    background-color: var(--optional-color);
    min-height: 150px;
    color: var(--detail-color);
    font-size: 28px;
    border-radius: 1%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form-label {
    color: var(--main-light-color);
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}
.input {
    width: 15%;
}
.input:focus {
    border-radius: 5%;
    border-color: var(--detail-color);
    outline: 5px solid transparent;
}

.logo {
    width: 45px;
    height: 40px;
    border-radius: 50px;
    transition: all .1s ease-in-out; 
}

.logo:hover {
    border: solid 3px var(--detail-color);
    transform: scale(0.9);
}

.socials > * {
    margin-right: 0.5em;
}
.socials {
    display: flex;
}

.homepage-intro {
    font-size: 28px;
    width: 35%;
    margin: auto;
}
.footer-sidenote {
    width: 20%;
    font-size: 14px;
}